.wrapper {
  display: flex;
  gap: 8px;
  border: 1px solid red;
  padding: 48px;
  width: fit-content;
}
.item {
  border: 1px solid red;
  padding: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.startEl {
  animation: hiddenDragElement 1s forwards;
}
.endEl {
  animation: showDragElement 1s forwards;
}
.transformLeft {
  animation: transformLeftAmimate 1s forwards;
}
.removeTransformLeft {
  animation: transformLeftAmimate 1s forwards reverse;
}

@keyframes transformLeftAmimate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    background: red;
  }
}

@keyframes hiddenDragElement {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes showDragElement {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.lol {
  margin-top: 100px;
  margin-left: 100px;
  // transform: translateY(500px);
  transform: scale(1);
  background: red;
  width: fit-content;
  color: #fff;
  padding: 4px;
  border: 2px solid black;
}
.lol1 {
  // transform: rotate(30deg);
  background: red;
  width: fit-content;
  color: #000;
  padding: 4px;
}
