.item {
  border: 1px solid gray;
  width: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background: white;

  cursor: pointer;
}
.itemsTestWrapper {
  display: flex;
}
