.item {
  border: 1px solid gray;
  width: 32px;
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: grab;
  background: white;
}
.itemsTestWrapper {
  background: gray;

  display: flex;
}
