.settingSwitchWrapper {
  background: var(--color-blue);
  transition: 0.3s;
  display: flex;
  justify-content: center;

  &:hover {
    background: var(--color-hover-blue);
    cursor: pointer;
  }
}

.settingSwitchSvg {
  fill: var(--color-white);
  transition: transform 0.3s;
  &.close {
    transform: rotate(-180deg);
  }
}
