.addWrapper {
  background: var(--color-blue);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 34px;
  box-shadow: var(--box-shadow-layout);
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background: var(--color-hover-blue);
  }

  &:active {
    box-shadow: none;
  }
}
.addSvg {
  fill: var(--color-white);
}
