.dragAndDropWrapper {
  height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.maximizeSvg {
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translate(-50%);
  fill: var(--color-blue);
  transition: 0.3s;

  &:hover {
    fill: var(--color-hover-blue);
  }
}
