* {
  color: var(--color-black);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: var(--color-hover-black);
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: red;
}

::-webkit-scrollbar-track {
  background: var(--color-white-gray);
}
