:root {
  --color-white: #fff;
  --color-black: #21272a;
  --color-gray: #4d5156;
  --color-blue: #4285f4;
  --color-white-gray: #f2f2f2;
  --color-white-blue: #e5ebee;

  --color-light-green: #39ff6e;
  --color-green: #49d660;

  // Статусы
  --color-success: #34a853;
  --color-error: #ea4335;

  // Тени
  --box-shadow-layout: 3px 3px 3px 1px #ebebeb;
  --box-shadow-atom: 0 0 0 3px rgb(106 128 239 / 75%);

  // Ховер

  --color-hover-blue: #7dafff;
  --color-hover-black: #888888;
  --color-hover-gray: #f6f8f9;
}
