.sidebarWrapper {
  width: 222px;
  box-shadow: 1px 1px 0px 0px #ebebeb;
  padding: 0;
  overflow: hidden;
}
.sideBarItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  transition: 0.3s;
  width: 100%;
  &:hover:not(.activeMenuItem) {
    cursor: pointer;
    background-color: var(--color-hover-gray);
  }
}
.mainMenuItem {
  font-size: 22px;
  text-align: center;
  padding: 8px;
}
.text {
  font-size: 20px;
}
.activeMenuItem {
  background-color: var(--color-white-blue);
}

.taskSvg,
.calendarSvg {
  fill: var(--color-gray);
}
