.item {
  position: relative;
  background: var(--color-white-gray);
  width: 192px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 2px;
  box-shadow: var(--box-shadow-layout);
  transition: 0.53s;
  margin: 10px;
  &:hover {
    cursor: pointer;
    color: var(--color-hover-black);
  }

  &.active {
    background: var(--color-gray);
    color: var(--color-white);
    .remove {
      fill: white !important;
    }
  }
  .remove {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
}
